@(statusCode: Int, errorMessage: String)(implicit request: RequestHeader)
@layouts.error(statusCode.toString + " Error", "error/e400") {
<div id="e400-content" class="container mx-auto">
    <div class="text-center">
        <h1 class="text-2xl">Sorry! @statusCode Error</h1>
        <p>
            A client error occurred:
        </p>
        <p>
            @errorMessage
        </p>
    </div>
    <div class="text-center mt-5">
        <a href="@routes.TopController.index()" class="text-blue-500 underline">Top</a>
    </div>
</div>
}